@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,300i|Source+Sans+Pro:300,300i,400,400i,600,700&display=swap");

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #eee;
  background-color: #444450;
}

.container {
  width: 1000px;
  margin: 24px auto;
}